.screen-header {
  display: flex;
  padding: 85px 25px;
  justify-content: space-between;
}
.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}
.screen-header__icon span {
  padding-left: 20px;
}
